{% extends 'layout.html.twig' %}

{% set page_title = 'Création de Session' %}


{% block content %}


    <main>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </main>

{% endblock %}