{% extends 'layout.html.twig' %}

{% set page_title = 'Création de Quiz' %}


{% block content %}


    <main>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-site">
            <button type="submit" class="btn btn-primary btn-lg">Valider</button>
        </div>
        {{ form_end(form) }}
    </main>

{% endblock %}
