{% extends 'layout.html.twig' %}

{% set page_title = 'Liste des Quiz' %}


{% block content %}

    {% for quiz in listQuiz %}
        <div class="quiz">
            <a href="{{ path('editquiz', {"id": quiz.id}) }}">{{ quiz.name }}</a>
            {% if quiz.questions is empty %}
                <p>Il n'y a pas de question dans ce Quiz</p>
                <a href="{{ path('editquiz', {"id": quiz.id}) }}">Ajouter une ou des questions</a>
            {% else %}
                <a href="{{ path('createsession', {"id": quiz.id}) }}">Lancer le quiz</a>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}