{% extends 'layout.html.twig' %}

{% set page_title = 'Liste des quiz' %}


{% block content %}

    <main class="container">
        <h1>Liste des Quiz</h1>

        {% for quiz in listQuiz %}
            <div class="quiz">
                <h3>{{ quiz.name }}</h3>
                <a href="{{ path('editquiz', {"id": quiz.id}) }}" type="button" class="btn btn-primary">Modifier la liste des questions du quiz</a>
                <!--<p><a href="{# path('deletequiz', {"id": quiz.id}) #}" onclick="return confirm('Confirmer la suppression?')">Supprimer le quiz</a></p> -->
                {% if quiz.questions is empty %}
                    <p>Il n'y a pas de question dans ce Quiz, ajoutez des questions pour pouvoir l'utiliser </p>
                {% else %}
                    <a href="{{ path('createsession', {"id": quiz.id}) }}" type="button" class="btn btn-primary leave">Lancer le quiz</a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    </main>

{% endblock %}