{% extends 'layout.html.twig' %}

{% set page_title = 'Quiz' %}
{% block content %}
    <main>


        {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN") %}

            <button id="loadQuestions">Charger les questions</button>


            <button id="startQuiz">Démarrer le quiz</button>
            <button id="nextQuestion">Question suivante</button>
            <button id="stopQuestion">Arrêter la question</button>
            <button id="showResults">Voir les résultats</button>
            <button id="showResponse">Envoyer la réponse</button>
            <button id="addTime">Ajouter 10 secondes</button>
            <button id="closeQuiz">Clore le quiz</button>
        {% endif %}

        <div id="quiz">

        </div>

        <div id="response">

        </div>

        <div id="time">

        </div>
    </main>

    {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN")%}
        <script src="{{ asset('js/teacher.js') }}"></script>
    {% endif %}
    {% if is_granted("ROLE_STUDENT")%}
        <script src="{{ asset('js/student.js') }}"></script>
    {% endif %}

{% endblock %}