{% extends 'layout.html.twig' %}

{% set page_title = 'Création de Quiz' %}
{% block content %}


    <main>
        <h1>Coucou</h1>
        {% for user in users %}
            <p><a href="{{ path('editUser', {'username':user.username}) }}">{{ user.username }} - {{ user.email }}</a></p>
        {% endfor %}
    </main>

{% endblock %}