@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #f4edd7;
    background-image: radial-gradient(circle at center, white, #f4edd7);
}

main {
    width: 80%;
    margin: auto;
    background-color: white;
    padding-bottom: 30px;
}

header {
    width: 100%;
}

h1{
    text-align: center;
}

.leave {
    margin: 10px 5px;
}

.btn-site {
    padding: 3% 15% 0% 15%;
    display: flex;
    justify-content: space-around;
}

@media(max-width:900px) {
    .btn-site {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

}

.btn-site > a {
    width: 200px;
    margin-top:15px;
}

.listUser > p{
    padding: 10px;
}


/* PAGE AFFICHAGE QUIZ */

.nomCours {
    text-align: center;
    font-size: xx-large;
    font-family: 'Lato', sans-serif;


}

.nav > p {
    font-size: 3em;
    margin: 0px 20px 0px 20px;
}

.navbar-default  {
    background-color: #FA7B00;
    color: #fbfbfb;
}

.quiz {

    margin: 5%;
}

.affichageQuiz {
}

.enonceQuestion {
    display: inline;
}

.nomQuiz {
    text-align: center;
    font-size: 2em;
}

.contenuQuiz {
    font-size: medium;
    margin: 3% 10% 3% 10%;

}

.content {
    padding-bottom: 2%;
    background-color: #fffdf8;
    font-family: 'Lato', sans-serif;
}

.numQuestion {
    font-weight: bold;;
}

.enonceQuestion {
    font-weight: bold;
}

.countdown {
    display: inline;
}

.xsecondes {
    display: inline;
}

.zoneReponse {
    padding: 3%;
    text-align: center;
    border-width:2px;
    border-style: solid;
    border-color: #2776a1;
    border-radius: 20px;
    margin: 0% 10% 3% 10%
}

.zoneReponse > p {
    margin: 0%;
}

.zoneReponse > p {
    font-size: large;
}

.reponse {
    padding: 3%;
    background-color: rgba(0, 187, 0, 0.45);
    text-align: center;
    border-width:2px;
    border-style: solid;
    border-color: #069b00;
    border-radius: 20px;
    margin: 2% 20% 3% 20%
}

.reponse > p{
    margin: 0%;
}

.btn , .btn-primary {
    background-color: #fa7b00;
    border-color: #d78900;
}

[class*="col-"], footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}

.redirectLink{
    display:none;
}

/* PAGE AJOUTER QUESTION */

.ajoutQuestion {
    text-align: center;
    background: white;
    margin: 5%;
}

.form-group{
    margin: 2% 20%;
}

.affichageAjoutQuestion {
    padding: 3% 0%;
}

/* FOOTER
*/
@charset "UTF-8";
/*
$content-width will be the max width of the content within the navigation bar.
$breakpoint determines at which width the media query breakpoint will take effect.
*/

.logo {
    width: 50%;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #fa7b00;
    color: white;
    text-decoration: none;
    /*
    The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
    */
}
nav ul li a:hover {
    background: #f2f2f2;
    color: #fb5958;
    text-decoration: none;
}
nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    /* Guarantees that the dropdown will display on top of any content. */
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}
/*
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
    height: 70px;
    background: #fa7b00;
}


/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a,
.brand a:visited {
    color: #463f3f;
    text-decoration: none;
}


/* ccs pour la gestion du quiz */

#quiz {
    margin: 10px 0;
}

#response {
    margin: 10px 0;
    background-color: limegreen;
}

main #clore, main #nextquestion, main #displayresponse, main #close, main #addtime {
    display: none;
}

main #quiz form {
    border: 1px solid black;
}

span {
    font-weight: bold;
}

/* /addquestion */
.question {
    display: block;
    background-color: #f3f3f3;
    margin: 10px;
}



.answer {
    background-color: #f8f8f8;
}


#answersDiv {
     width:80%;
 }
#answersDiv div, #answersDiv a {
    max-width: 100%;
    margin: 0;
}

/* editquiz */
#questionsInQuiz, #questionsNotInQuiz{
    border:none;
    padding: 5px;
    background-color: white;
}

#questionsInQuiz .questionBox{
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;

}

#questionsNotInQuiz .questionBox{
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 5px;
}

.questionBox p {
    line-height: normal;
}

/* studentresults */

.correctAnswers {
    color: green;
}

