{% extends 'layout.html.twig' %}

{% set page_title = 'Administration' %}
{% block content %}
    <main>
        <div class="btn-site">
            <a href="{{ path('listusers') }}" type="button" class="btn btn-primary btn-lg leave">Éditer un utilisateur</a>
        </div>
    </main>


{% endblock %}