{% extends 'layout.html.twig' %}

{% set page_title = 'Administration' %}
{% block content %}
    <main>
        <a href="{{ path('listUser') }}" type="button" class="btn btn-primary btn-lg">Modifier Role</a>
    </main>


{% endblock %}