{% extends 'layout.html.twig' %}

{% set page_title = 'Connexion' %}


{% block content %}


<main class="container">
    <h1>Connexion</h1>

    <form action="{{ path('login') }}" method="post">

        <div class="form-group">
            <label for="username" for="username">Identifiant</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
        </div>

        <div class="btn-site">
            <button type="submit" class="btn btn-primary btn-lg">Connexion</button>
        </div>

        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>Erreur d'identifiant ou de mot de passe</p>

            </div>
        {% endif %}

    </form>

</main>

{% endblock %}